// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
  text-align: center;
}
h4 span {
  height: 10vw;
}


section.order_items {
  width: 68%;
  margin: 0 auto;
  margin-bottom: 60px;
  // background-color: rgb(243,231,241)
}


div.item {
  border-bottom: solid black 3px;
  background-color: rgb(243,231,241)
}


// *************************************************** BUTTONS
// div.item.button, div.total.button {
//   background-color: black;
//   width: 75px;
//   height: 10px;
//   margin-bottom: 0;
//   line-height: 10px;
// }

section.order_items a.delete.button {
  background-color: black;
  width: 75px;
  height: 10px;
  margin-bottom: 0;
  line-height: 0px;
}

section.order_items a.delete.button:hover {
  background-color: rgb(129,143,42);
}

section.confirmation .order_items {
  width: 68%;
}

.button:hover{
  background-color: rgb(129,143,42);
}

.checkout a.button {
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 15px;

}

.checkout a.button:hover {
  background-color: rgb(129,143,42);
}


img.cart {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
  margin-left: 5%;
}

div.smaller {
  width: 50%;
  margin: 0 auto;
}

.sure p {
  text-align: center;
}

select#order_item_quantity {
  width: 13vw;
}


div.item form  {
  display: inline-block
}


div.item p  {
  display: inline-block
}

div.confirmation {
  background-color: rgb(243,231,241);
}

div.confirmation p.notify {
  text-align: center;
  border-bottom: solid black 3px;
}

.item .edit_order_item .button{
  background-color: black;
  height: 10px;
  margin-bottom: 0

}

.item .edit_order_item .button:hover{
  background-color: rgb(129,143,42);
}

.item .edit_order_item select{
  height: 27px;
}

.total p {
  text-align: right;
}

.filter_form {
  width: 500px;
  margin-left: 10%;
  font-weight: bold;
}

.filter_form select:hover, .filter_form input:hover {
  background-color: rgb(129,143,42);
}

.filter_form select {
  background-color: black;
  color: white;
  font-weight: bold;
  display: inline-block;
  float: left;
  width: 40%;
  margin-right: 2%;
  box-sizing: inherit;
  line-height: 1.15;
  border: none;
  margin-left: 0;
}

.filter_form input {
  background-color: black;
  color: white;
  padding: 1%;
  font-weight: bold;
  font-family: 'Comfortaa', sans-serif;
  display: inline-block;
  width: 8%;
  height: 35px;
  margin-right: 0;
  margin-left: 2%;
  border-radius: 40%;

}
