// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.sure h3, div.confirmation h3, div.current h3, div.new-billing h3 {
  text-align: center;
}
.item h4 span {
  height: 10vw;
}


section.order_items {
  width: 68%;
  margin: 0 auto;
  margin-bottom: 60px;
  // background-color: rgb(243,231,241)
}


div.item {
  border-bottom: solid black 3px;
  background-color: rgb(243,231,241)
}


// *************************************************** BUTTONS
// div.item.button, div.total.button {
//   background-color: black;
//   width: 75px;
//   height: 10px;
//   margin-bottom: 0;
//   line-height: 10px;
// }

section.order_items a.delete.button {
  background-color: black;
  width: 75px;
  height: 10px;
  margin-bottom: 0;
  line-height: 0px;
}

section.order_items a.delete.button:hover {
  background-color: rgb(129,143,42);
}

section.confirmation .order_items {
  width: 68%;
}

.button:hover{
  background-color: rgb(129,143,42);
}

.checkout a.button {
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 15px;

}

.checkout a.button:hover {
  background-color: rgb(129,143,42);
}


img.cart {
  max-height: 80px;
  max-width: 80px;
  margin-bottom: 10px;
  margin-left: 5%;
}

div.smaller {
  width: 50%;
  margin: 0 auto;
}

.sure p {
  text-align: center;
}

select#order_item_quantity {

  width: 4vw;
  margin-left: 1vw;
}

div.item {
  max-width: 100%;
}

div.item form  {
  display: inline-block
}


div.item p  {
  display: inline-block
}

div.confirmation {
  background-color: rgb(243,231,241);
}

div.confirmation p.notify {
  text-align: center;
  border-bottom: solid black 3px;
}

.item .edit_order_item .button{
  background-color: black;
  height: 10px;
  margin-bottom: 0;
  line-height: 0;

}

.item .edit_order_item .button:hover{
  background-color: rgb(129,143,42);
}

.item .edit_order_item select{
  height: 27px;
}

.total p {
  text-align: right;
}

.filter_form {
  width: 500px;
  margin-left: 10%;
  font-weight: bold;
}

.filter_form select:hover, .filter_form input:hover {
  background-color: rgb(129,143,42);
}

.filter_form select {
  background-color: black;
  color: white;
  font-weight: bold;
  display: inline-block;
  float: left;
  width: 40%;
  margin-right: 2%;
  box-sizing: inherit;
  line-height: 1.15;
  border: none;
  margin-left: 0;
}

.filter_form input {
  background-color: black;
  color: white;
  padding: 1%;
  font-weight: bold;
  font-family: 'Comfortaa', sans-serif;
  display: inline-block;
  width: 8%;
  height: 35px;
  border-radius: 40%;
  margin: 0 0 10% 2%;

}



/*****************/
/* Show page  */
/*****************/
.go-left {
  text-align: left;
  background-color: rgb(243,231,241);
  padding: 1%;
}

.order-articles {
  margin-top: 5%;
  margin-bottom: 5%;
}

.color {
  background-color: black;
  color: white;
}

.order-show-a {
  color: rgb(129,143,42);
}

.order-show-a:hover {
  color: black;
}

.order-id {
  border-bottom: solid;
  text-align: center;
}

.total-earned {
  text-align: center;
  margin-top: 3%;
}

.products-in-o {
  vertical-align: middle;
}
