// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/****************/
/* Show a product */
/***************/
.product-image {
  float: left;
  clear: left;
  text-align: left;
  height: auto;
  margin: 0 0 10px 10px;
  display: inline-block;
}

.product-info {
  text-align: center;
}

.product-price {
  float: right;
}

#product-name {
  text-align: left;
  margin-left: 2%
  // padding-left: 50px;
}

// .button.read-review {
//   float: right;
//   clear: right;
// }

// .review-buttons {
//   padding-top: 10px;
//   display: inline-block;
// }

#update-quantity select {
  width: 15%
}

// .row.review {
//   text-align: center;
//   margin-top: 30px;
//   display: inline-block;
//   // position: absolute;
//   top: 50%;
//   left: 50%;
// }

//
// .review.add-review {
//   margin-right: 40%;
//   display: inline;
//   // float: left;
//   // clear: left;
//   // padding: 0.85em 1em;
// }

// .review.read-review {
//   display: inline;
//   // margin-right: 10%;
//   // float: right;
//   // clear: right;
//   // padding: 0.85em 1em;
// }

.img-size {
  max-width: 100%;
  height: 400px;
}


/*****************/
/* Add a product  */
/*****************/
body {
  font-family: 'Comfortaa', sans-serif;
}
.new-product {
  margin: 1% 5% 5% 5%;
  width: 90%;
}
.submit .button {
width: 100%;
text-align: center;
height: 40px;
line-height: 15px;
border-radius: 5px;
}

div ul li #edit {

width: 10%;
text-align: center;
height: 40px;
line-height: 15px;
border-radius: 5px;
display: inline-block;
clear: right;
}

div ul li #delete {
  width:10%;
  text-align: center;
  height: 40px;
  line-height: 15px;
  border-radius: 5px;
  display: inline-block;
  clear: left;
  // float: right;
}

.new-form {
  background-color: rgb(243,231,241);
  padding: 2%;
}

.bold {
  font-weight: bold;
}

.cust-review {
  margin-top: 40px;
}

.add-edit {
  display: inline-block;
}

.add-edit ul:first-child {
  display: inline-block;
}

.add-edit ul:nth-child(2) {
  display: inline-block;
}
