<section class="form">
  <%= form_tag, method: :get do %>
    <%= collection_select(:category, :id, Category.all, :id, :name, {:prompt => 'Add Category'}) %>
    <%= submit_tag "Add Category" %>
  <%end%>
</section>
