<h1>THIS IS THE ROOT HOMEPAGE FOR BIODOME</h1>
<p>it should display all products</p>

<main class = "row">
  <section class = "row ">
    <p>Products</p>
    <% @products.each do |product| %>
      <div>
        <%#= link_to image_tag(product.image_url), products_path(product.id)%>
        <p> <%= product.name %> </p>
        <p> <%= product.price %></p>
      </div>
      <% end %>
      <p>Merchants:</p> <%= merchant = session[:merchant] %>
      <%= @merchant.class %>
    </section>
</main>
