<h3> <%= link_to @product.name, product_path(@product.id) %> Reviews </h3>
<ul>
<% @product.reviews.each do |review| %>
    <li> Rating: <%= review.rating %>
      <p> Description: <%= review.description %> </p>
    </li>
<% end %>
</ul>
