<section class="form">
  <%= form_tag products_path, method: :get do %>
    <%# label_tag :merchant %>
    <%= collection_select(:merchant, :id, Merchant.all, :id, :name, {:prompt => 'Search by Merchant'}, class: "dropdown menu") %>
    <%= submit_tag ">" %>
  <%end%>
</section>
